# link do api para backend
NEXT_PUBLIC_STRAPI_URL="https://api.pnp.cv/api"

# Chave da API mails.so para validação de email (server-side only)
MAILS_API_KEY=


# DADOS DO S3 BUCKET DA AWS
DO_SPACES_URL=
REGION=
DO_SPACES_ID=
DO_SPACES_SECRET=
DO_SPACES_BUCKET
